@import './variables';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: $font-size-text;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}