//colors
$bright-blue: hsl(220, 98%, 61%);
$check-background:hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

//light theme
$gray-blue-100: hsl(0, 0%, 98%);
$gray-blue-200: hsl(236, 33%, 92%);
$gray-blue-300: hsl(233, 11%, 84%);
$gray-blue-400: hsl(236, 9%, 61%);
$gray-blue-500: hsl(235, 19%, 35%);

//dark-theme
$dark-blue-100: hsl(235, 21%, 11%);
$dark-blue-200: hsl(235, 24%, 19%);
$dark-blue-300: hsl(234, 39%, 85%);
$dark-blue-400: hsl(236, 33%, 92%); //hover 
$dark-blue-500: hsl(234, 11%, 52%);
$dark-blue-600: hsl(233, 14%, 35%);
$dark-blue-700: hsl(237, 14%, 26%);

//breakpoints
$sm-width: 375px;
$lg-width: 1440px;
$container-max-width: 730px;

//font-sizes
$font-size-text: 18px;


