@import "./assets/scss/breakpoints-variables";

.background{
    position: relative;
    height: 100vh;
    background-color: var(--theme-color-bg);
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('./assets/images/bg-desktop-dark.jpg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.todo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.todo-switch {
    width: 30px;
    height: 30px;
}